In [1]:
import pandas as pd
import pandas as np

In [3]:
df = pd.DataFrame(['A', '2', 'Z', '3', 'c'])
df.head()

   0
0  A
1  2
2  Z
3  3
4  c

In [5]:
df[0].str.replace('[^a-zA-Z]',' ')

0    A
1
2    Z
3
4    c
Name: 0, dtype: object

In [1]:
def takequoteoff(str):
    return (repr(repr(str)))

In [3]:
'Mohit'

'Mohit'

In [4]:
print('Mohit')

Mohit

In [20]:
l1 = [26, 26, 26, 27, 27, 28, 28, 28, 29, 29, 29, 29]
l2 = [-1, -2, 10, 14, 13, 15, 20, -4, -10, 90, 10,  -1]
l3=[11, 12, -3, -4, 10, 11, 12, 13, 14, -1, -1, -1]
l4=[50, 60, 70, 90, 30, 40, 20, 20, 10, 20, 20, 20]

In [21]:
set(l1)

{26, 27, 28, 29}

In [23]:
temp_list_2 = []
temp_list_3 = []
temp_list_4 = []
count = 0

for i in set(l1):
    i_count = l1.count(i)
    temp2 = l2[count:count+i_count]
    temp3 = l3[count:count+i_count]
    temp4 = l4[count:count+i_count]
    
    count = count + i_count
    avg2 = sum(temp2)/len(temp2)
    avg3 = sum(temp3)/len(temp3)
    avg4 = sum(temp4)/len(temp4)
    
    temp_list_2.append(avg2)
    temp_list_3.append(avg3)
    temp_list_4.append(avg4)
    
print(temp_list_2)
print(temp_list_3)
print(temp_list_4)

[2.3333333333333335, 13.5, 10.333333333333334, 22.25]
[6.666666666666667, 3.0, 12.0, 2.75]
[60.0, 60.0, 26.666666666666668, 17.5]